# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit bitcoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/ocpandacoin/ocpandacoin.conf, but keep in mind those explicitly
# specified as arguments in ExecStart= will override those in the
# config file.

[Unit]
Description=OCPandaCoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/ocpandacoind -daemon \
                            -pid=/run/ocpandacoind/ocpandacoind.pid \
                            -conf=/etc/ocpandacoin/ocpandacoin.conf \
                            -datadir=/var/lib/ocpandacoind

# Make sure the config directory is readable by the service user
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp ocpandacoin /etc/ocpandacoin

# Process management
####################

Type=forking
PIDFile=/run/ocpandacoind/ocpandacoind.pid
Restart=on-failure
TimeoutStopSec=600

# Directory creation and permissions
####################################

# Run as ocpandacoin:ocpandacoin
User=ocpandacoin
Group=ocpandacoin

# /run/ocpandacoind
RuntimeDirectory=ocpandacoind
RuntimeDirectoryMode=0710

# /etc/ocpandacoin
ConfigurationDirectory=ocpandacoin
ConfigurationDirectoryMode=0710

# /var/lib/ocpandacoind
StateDirectory=ocpandacoind
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny access to /home, /root and /run/user
ProtectHome=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
